
<html lang="en">
<head>
<meta charset="utf-8">
</head>
<body>
<main class="container text-white bg-dark text-center">
<div class="col bg-dark">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img weight="200" [src]="logo8"/>
<div class="card-body">
<p class="card-text">!Bienvenidas, bienvenidos y bienvenides a OE Experience! El portal para que puedas desarrollar y compartir tu ciudadanía científica.
</p>
<p>Comencemos aquí encontrarás recursos educativos para cada nivel, una biblioteca con artículos de investigación científica para que puedas explorar y citar en tus trabajos y presentaciones.</p>
<a class="btn bg-white text-black my102 my-sm-0" href="/logeo" role="button">Descubrelo</a>
</div>
</div>
</div>

<hr class="my-5">
<div class="row">
<div class="col-sm-6 col-lg-4 mb-4 bg-dark">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img [src]="logo"/>
<div class="card-body">
<h5 class="card-title">
SATÉLITES 
</h5>
<p class="card-text">Tenemos la mirada puesta en el SAOCOM, el Satélite Argentino de Observación con Microondas 1B que esta conformado por dos satélites idénticos. Este tipo de herramienta es única en el mundo y su objetivo es prevenir, monitorear y evaluar catástrofes naturales, además de generar datos sobre el suelo a través de un Radar de Apertura Sintética (SAR).
</p>
</div>
</div>
</div>
<div class="col-sm-6 col-lg-4 mb-4 bg-dark">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img weight="200" [src]="logo1"/>
<div class="card-body">
<h5 class="card-title">
Primeras imágenes del SAOCOM 1B
</h5>
<p class="card-text">Las imágenes del SAOCOM 1B muestran la Argentina desde el Espacio / La CONAE presenta las primeras imágenes del satélite de observación de la Tierra SAOCOM 1B, que fue puesto en órbita el 30 de agosto pasado y junto al SAOCOM 1A, completó la primera constelación de satélites radar argentinos.
</p>
</div>
</div>
</div>

<div class="col-sm-6 col-lg-4 mb-4 bg-dark">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<div class="card-body">

<p class="card-text">Laura Frulla es la investigadora principal de la Misión SAOCOM asegura que: “Dominar la tecnología de observación con radar es un gran avance que nos da independencia y soberanía tecnológica. Nos permite ofrecer servicios propios necesarios para nuestro país, con satélites diseñados por argentinos para priorizar aspectos de relevancia nacional y satisfacer las necesidades planteadas originalmente por las áreas de agricultura, como el Ministerio de Agricultura, Ganadería y Pesca de la Nación, el INTA, y el Ministerio de Seguridad”.

</p>
</div>
</div>
</div>

<div class="col-sm-6 col-lg-4 mb-4 bg-dark">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img weight="200" [src]="logo2"/>
<p class="card-title">VENG ofrece sus servicios de información satelital al sector agropecuario
</p>
</div>
</div>

<div class="col-sm-6 col-lg-4 mb-4">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img [src]="biblioteca"/>
<div class="card-body">
<h5 class="card-title">Biblioteca</h5>
<p class="card-text">La biblioteca es un espacio para que puedas encontrar los recursos que necesites desde artículos hasta libros y páginas web. 
  
</p>
</div>
</div>
</div>

<div class="col-sm-6 col-lg-4 mb-4">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img [src]="comunidad"/>
<div class="card-body">
<h5 class="card-title">Comunidad</h5>
<p class="card-text">Bienvenidos a la comunidad OE Experience, aquí encontrarás un lugar para compartir tus ideas y proyectos. Tenemos un espacio para armar debates en streming o por el foro de los temas que te interesen. 
Para ingresar solamente tenes que logearte y prender tu cámara.
Construyamos la ciudadanía espacial 
</p>
<p class="card-text"><small class="text-muted">Última actualización hace 3 minutos</small></p>
</div>
</div>
</div>
</div>

<div class="col-sm-16 col-lg-14 mb-17">
<div class="card bg-dark text-white text-center">
<div class="card-body">
<h5 class="card-title">Noticias</h5>
</div>
</div>
</div>

<div class="album bg-dark py-5">
<div class="container">
<div class="row row-cols-1">

<div class="col col-sm-6 col-lg-4 mb-4">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://www.argentina.gob.ar/sites/default/files/valdes800x600.png');">
<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Nueva ampliación del plazo de la convocatoria para desarrollar un sistema de soporte para la actividad pesquera</h2>
<ul class="d-flex list-unstyled mt-auto">
<li class="me-auto">

</li>
<li class="d-flex align-items-center me-3">
<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>

</li>
<li class="d-flex align-items-center">
<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3" /></svg>
<small>Publicado el viernes 23 de septiembre de 2022</small>
</li>
</ul>
</div>
</div>
</div>

<div class="col col-sm-6 col-lg-4 mb-4">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://www.argentina.gob.ar/sites/default/files/2022/08/portada_nota_cansat_argentina.png');">
<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Se conocieron los equipos ganadores de CANSAT Argentina y viajarán a Córdoba a lanzar sus satélite</h2>
<ul class="d-flex list-unstyled mt-auto">
<li class="me-auto">

</li>
<li class="d-flex align-items-center me-3">
<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>

</li>
<li class="d-flex align-items-center">
<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3" /></svg>
<small>Publicado el jueves 29 de septiembre de 2022</small>
</li>
</ul>
</div>
</div>
</div>
 
<div class="col col-sm-6 col-lg-4 mb-4">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('https://www.argentina.gob.ar/sites/default/files/lea_capacitacion_4.png');">
<div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
<h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">La CONAE inauguró un centro de capacitación único en la región, para soldadura de ensambles electrónicos</h2>
<ul class="d-flex list-unstyled mt-auto">
<li class="me-auto">

</li>
<li class="d-flex align-items-center me-3">
<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>

</li>
<li class="d-flex align-items-center">
<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3" /></svg>
<small>Publicado el viernes 30 de septiembre de 2022</small>
</li>
</ul>
</div>
</div>
</div>

</div>
</div>
</div>

</main>
</body>
</html>