<app-menu></app-menu>
<div class="container" id='divBody'>
    <router-outlet></router-outlet>
</div>

<!-- <app-test1></app-test1> -->
   <!-- <app-articulos-familias></app-articulos-familias> -->

   <!-- <app-articulos> -->

    <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">




<!-- Copyright -->
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);" class="text-light bg-dark">
  © 2022 Copyright: Proyecto Space Apps Nasa
  <a class="text-reset fw-bold" href="/quienesSomos">Pibas Tech</a>
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->