<body class="text-white bg-dark">

<div class="col">
<div class="card card-cover h-100 overflow-hidden text-white text-center bg-dark rounded-5 shadow-lg" style="background-image: url('');">
<div class="d-flex flex-column h-100 p-5 pb-3 text-white text/center text-shadow-1">
<p>Somos un equipo multidisciplinario de mujeres en tecnología y comunicación, nuestra formación está atravesada por la educación pública y buscamos contribuir a la sociedad con un portal de recursos y educación con datos abiertos para toda la comunidad interesada. Nuestro objetivo es poder brindar herramientas para crear soluciones con el medio ambiente.</p>

<p>Somos PibasTech, un equipo de desarrollo multidisciplinario en Tecnología y Comunicación.</p>

<p>Sharon es Estudiante de Desarrollo de Software, Juli está a un final de recibirse como Ingeniera en Sistemas, Angie estudia Programación Avanzada en CoderDojo y Cami es estudiante de Comunicación.
Somos Educación Pública Argentina.</p>


<ul class="d-flex list-unstyled mt-auto">
<li class="me-auto">

</li>
<li class="d-flex align-items-center me-3">
<svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>

</li>
<li class="d-flex align-items-center">

</li>
</ul>
</div>
</div>
</div>

<br>
<br>
<br>


<div class="container marketing">
<div class="row text-center">
<div class="col-sm-6 col-lg-4 mb-4 bg-dark">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img [src]="sharon"/>
<div class="card-body">
<h5 class="card-title">
Sharon
</h5>
<p class="card-text">Estudiante de Desarrollo de Sotfware del Instituto Tecnico Superior Cordoba Sede Villa El Libertador
</p>
</div>
</div>
</div>


<div class="col-sm-6 col-lg-4 mb-4 bg-dark">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img [src]="juli"/>
<div class="card-body">
<h5 class="card-title">
Julieta Screpnik
</h5>
<p class="card-text">Estudiante de Ing. en sistemas de información de la UTN FRC
</p>
</div>
</div>
</div>

<div class="col-sm-6 col-lg-4 mb-4 bg-dark">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img [src]="cami"/>
<div class="card-body">
<h5 class="card-title">
Camila Veloso Burgos
</h5>
<p class="card-text">Estudiante de Comunicación social en la Universidad Nacional de Córdoba Argentin
</p>
</div>
</div>
</div>

<div class="col-sm-6 col-lg-4 mb-4 bg-dark">
<div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
<img [src]="angie"/>
<div class="card-body">
<h5 class="card-title">
Angeles
</h5>
<p class="card-text">Estudiante de Programacion Avanzada en Coder Dojo Cordoba
</p>
</div>
</div>
</div>

</div>
</div>
</body>
