<div class="container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link active" href="/inicio" >Inicio<span class="sr-only"></span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="/quienesSomos">Quienes Somos</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" [routerLink]="['/cargaArticulos']">Satelites</a>
     </li>
     <li class="nav-item">
     <a class="nav-link" [routerLink]="['/cargaArticulos']">Comunidad</a>
   </li>
   <li class="nav-item">
   <a class="nav-link" [routerLink]="['/cargaArticulos']">Biblioteca</a>
 </li>
 <li class="nav-item">
 <a class="nav-link" [routerLink]="['/cargaArticulos']">Noticias</a>
</li>
<li class="nav-item">
<a class="nav-link" [routerLink]="['/cargaArticulos']">Contacto</a>
</li>

   </ul>
      
     <a class="btn my-2 bg-white text-black my-sm-0" href="/logeo" role="button">Iniciar sesión</a>
 
 </div>
</nav>
</div>
<div class="container">


<br>
<br>
